body{
    padding: 0;
    margin: 0;
}

:root{
    --primary: hsl(4, 100%, 67%);
    --darkslate: hsl(234, 29%, 20%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
}

@font-face {
    font-family: robotoBold;
    src: url("../assets/fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: robotoRegular;
    src: url("../assets/fonts/Roboto-Regular.ttf");
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--darkslate);
    height: 100vh;
}
.wrapper{
    width: 900px;
    height: auto;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    color: var(--darkslate);
}
.right_div{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.mobile{
    display: none;
}
.left_div{
    width: 50%;
    padding: 0 20px ;
}
.form_wrapper{
    align-items: flex-start;
}
h2{
    font-family: robotoBold;
    font-size: 42px;
    font-weight: 700;
}
p{
    font-size: 16px;
    font-family: robotoRegular;
    font-weight: 700;

}
.text_wrapper{
    display: flex;
    margin: 1rem 0;
}
.text_wrapper p{
    padding: 0;
    margin: 0;
}
.icon{
    margin-right: 10px;
}
form{
    margin-top: 30px;
}
.email_label{
    font-size: 14px;
    display: block;
    padding: 0;
    text-align: start;
    font-family: robotoRegular;
    font-weight: 700;
    color: var(--darkslate);
    margin: 8px 0;
}
input{
    width: 100%;
    border: 0.5px solid var(--grey);
    padding: 20px;
    border-radius: 8px;
    appearance: none;
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    color: var(--grey);
    font-weight: 400;
    font-family: robotoRegular;
}
button{
    width: 100%;
    background: var(--darkslate);
    border-radius: 8px;
    outline: none;
    appearance: none;
    padding: 20px;
    color: var(--white);
    box-sizing: border-box;
    font-size: 16px;
    font-family: robotoRegular;
    font-weight: 700;
    margin: 25px 0;
    cursor: pointer;
    border: 0;
}
button:focus{
    outline: none;
    background: rgb(246,79,117);
    box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.52);
-webkit-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.52);
-moz-box-shadow: 10px 10px 5px -3px rgba(0,0,0,0.52);
background: linear-gradient(90deg, rgba(246,79,117,1) 0%, rgba(246,79,117,1) 35%, rgba(255,102,71,1) 100%);
}

@media (max-width: 920px) {
    .wrapper{
        flex-direction: column-reverse;
        width: 100%;
        padding: 0;
        border-radius: 0;
        overflow-x: hidden;
        height: 100%;
    }
    .left_div{
        width: 100%;
        padding: 20px;
    }
    .right_div{
        width: 100%;
        height: auto;
    }
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    .form_wrapper{
        margin: 0px 30px;
    }
}

